.clickbox-container {
    /* border: 1px solid black; */
    display: flex;
    width: 700px;
    margin: 10px auto;


}

.charbox {
    /* border: 1px solid black; */
    width: 15px;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    color: rgb(245, 239, 239);
    font-weight: bold;
}

.full-search-container {
    border: 1px solid black;
    
    width: 150px;
    margin: 10px;
    border-radius: 5px 5px;
    text-align: center;
    outline-style: none;
}