.clickbox-container {
    /* border: 1px solid black; */
    display: flex;
    width: 700px;
    margin: 4px auto;
    justify-content: center;

}


.charbox {
    /* border: 1px solid black; */
    width: 50px;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    color: rgb(245, 239, 239);
    font-weight: bold;
}

.charbox:hover {
    /* border: 1px solid rgb(238, 229, 229); */
    border-radius: 4px;
    background:rgb(49, 47, 47);
    color: rgb(248, 245, 245);
    font-weight: bold;

}

@media screen and (max-width: 768px) {
    .clickbox-container{
        width: 340px;
        flex-wrap: wrap;
    }
    
    .charbox{
        /* color: green; */
        margin: 3px;
    }

    


}
.full-search-container {
    border: 1px solid black;
    
    width: 150px;
    margin: 10px;
    border-radius: 5px 5px;
    text-align: center;
    outline-style: none;
}