.notfound-main-container {
    border: 4px solid red;
    


    border-radius: 5px;
    /* width: 80%; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 10px auto;
    padding: 5px;

}

.not-found-name-container {
    border: 2px solid rgb(92, 90, 90);
    background-color: rgb(245, 239, 239);;
    border-radius: 5px;

    padding: 10px;
    color: black;


}

.name {

    color: black;
    font-weight: bold;

}